.content__nft-tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 32px min-content 1fr 40px;
  row-gap: 16px;
  column-gap: 8px;
  background-color: var(--color-light-1);
  border-radius: 8px;
  padding: 32px;
}

.content__nft-tiles-icon {
  height: 32px;
  width: 32px;
}

.content__nft-tiles-title {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: var(--color-dark-1);
}

.content__nft-tiles-text {
  margin: 0;
  line-height: 24px;
  color: var(--color-dark-2);
}

.content__btn {
  margin-right: auto;
  background-color: var(--color-light-2);
}


.content__nft-tiles-zephir-img {
  margin: auto;
  grid-row: 1/5;
  grid-column: 2;
  width: 127px;
  height: 201px;
}

@media (min-width: 768px) {
  
  .content__nft-tiles-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  

  .content__nft-tiles {
    grid-template-rows: 32px 33px auto 40px;
  }

}

@media (min-width: 1440px) {
  /* Добавление второго тайла */
}
