.content-drops {
  margin-top: 32px;
}

.content-drops__tiles {
  margin: 32px 0 0;
  list-style: none;
  padding: 0;
}

.content-drops__tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 40px;
  row-gap: 16px;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--color-pink-1);
}

.content-drops__tile-title {
  margin: 0;
  height: 33px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: var(--color-dark-1);
}

.content-drops__tile-text {
  margin: 0;
  max-width: 294px;
  line-height: 24px;
  color: var(--color-dark-2);
}

.content-drops__tile-timer {
  display: inline-block;
  padding: 10px 12px;
  margin-right: auto;
  box-sizing: border-box;
  height: 40px;
  color: var(--color-pink-3);
  line-height: 19px;
  font-weight: 500;
  border: 1px solid var(--color-pink-3);
  border-radius: 8px;
}

.content-drops__tile-img {
  height: 177px;
  width: 127px;
  margin: auto;
  grid-row: 1/5;
  grid-column: 2;
}

.content-drops__tile:nth-child(2) {
  background-color: var(--color-purple-1);
}

.content-drops__tile:nth-child(2) .content-drops__tile-timer {
  color: var(--color-purple-2);
  border-color: var(--color-purple-2);
}

.content-drops__tile:nth-child(2) .content-drops__tile-img {
  height: 168px;
}

@media (min-width: 768px) {
  .content-drops__tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .content-drops__tile {
    padding: 32px;
  }
}

@media (min-width: 1440px) {
  .content-drops__tile {
    column-gap: 32px;
  }
}
