.content-drops {
  margin-top: 32px;
}

.content-drops__tiles {
  display: grid;
  gap: 24px;
  margin: 32px 0 0;
  list-style: none;
  padding: 0;
}

.content-drops__tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 32px;
  row-gap: 16px;
  padding: 30px;
  border-radius: 8px;
  background-color: var(--color-pink-1);
}

.content-drops__tile-title {
  grid-row: 1;
  grid-column: 1/3;
  margin: 0;
  height: 33px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: var(--color-dark-1);
}

.content-drops__tile-text {
  margin: 0;
  max-width: 294px;
  line-height: 24px;
  color: var(--color-dark-2);
}

.content-drops__tile-timer {
  grid-row: 3;
  grid-column: 1/3;
  display: inline-block;
  padding: 10px 12px;
  margin-right: auto;
  box-sizing: border-box;
  height: 40px;
  color: var(--color-pink-3);
  line-height: 19px;
  font-weight: 500;
  border: 1px solid var(--color-pink-3);
  border-radius: 8px;
}

.content-drops__tile-img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  grid-row: 1/4;
  grid-column: 2;
}


/* Question about color */

.content-drops__tile-purple {
  background-color: var(--color-purple-1);
}

.content-drops__tile-timer-purple {
  color: var(--color-purple-2);
  border-color: var(--color-purple-2);
}



/* set for collections*/

.content-collections {
  margin-top: 32px;
}

.btn.collections__btn {
  display: inline-block;
  padding: 9px 12px;
  line-height: 20px;
  margin-right: auto;
  border: 1px solid var(--color-dark-1);
}

.content-collections__tile-biege {
  background-color: var(--color-beige);
}

.content-collections__tile-blue {
  background-color: var(--color-blue);
}

.content-collections__tile-yellow {
  background-color: var(--color-yellow);
}


@media (min-width: 768px) {
  .content-drops__tiles {
    grid-template-columns: 1fr 1fr;
  }

  .content-drops__tile {
    padding: 32px;
  }
}