/* Global */
@import 'variable.css';

/* Header */
@import 'blocks/header.css';
/* Часть под Хедером */
@import 'blocks/main_part.css';
@import 'blocks/content.css';


/* Global set */
body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: var(--color-light-2) ;
}

.page_set{
    display:grid;
    /* row-gap: 50px; */
    max-width: 1520px;
    margin: 0 auto;
    padding: 36px 32px;
}

.background_blur {
    position: absolute;
    width:566px;
    height: 371px;
    background-color:var(--color-background-pink) ;
    right:11.97% ;
    left: 50.79%;
    top: 244px;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(280px);
}

.btn {
    font-family: inherit;
    height: 40px;
    border:none;
    border-radius: 8px;
    font-weight: 500;
    line-height: 19px;
    font-size: inherit;
    padding: 12px;
    color:var(--color-dark-1);
    cursor: pointer;
    transition: all 0.15ms;
}