:root {
    --color-gray: #EEEEEE;
    --color-dark-1: #111111;
    --color-dark-2: #555555;
    --color-dark-4: #999999;
    --color-light-1:#FFFFFF;
    --color-light-4: #CCCCCC;
    --color-background-pink: #FF42CA;
    --color-green:#42FFD2;

}