:root {
  --color-dark-1: #111111;
  --color-dark-2: #555555;
  --сolor-dark-3: #777777;
  --color-dark-4: #999999;
  --color-light-1: #ffffff;
  --color-light-2: #eeeeee;
  --color-light-3: #dddddd;
  --color-light-4: #cccccc;
  --color-red: #ff4242;
  --color-dark-red: #c60202;
  --color-pink-1: #ffd8e6;
  --color-pink-2: #ff42ca;
  --color-pink-3: #ff005c;
  --color-green: #42ffd2;
  --color-dark-green: #00a47c;
  --color-green-60: rgba(66, 255, 210, 0.6);
}
